<div class="container">

  <div class="row my-5">
    <div class="col-12 text-center">
      <h1>Technical test</h1>
    </div>
  </div>

  <h2 class="my-4">Solutions</h2>

  <div class="row">
    <div class="col-12 d-flex justify-content-between">
      <button type="button" class="btn btn-primary" (click)="findSolutions()">Find solutions</button>
<!--      <div class="row">-->
<!--          <label for="solution-digits" class="col-5 col-form-label">Solutions quantity :</label>-->
<!--          <div class="col-7">-->
<!--            <input type="number" style="width: auto" class="form-control" [(ngModel)]="solutionQuantity">-->
<!--          </div>-->
<!--      </div>-->
      <button type="button" class="btn btn-danger" (click)="deleteSolutions()">Delete all</button>
    </div>
  </div>

  <table class="table table-striped">

    <thead>
      <tr class="text-center">
        <th scope="col">#</th>
        <th scope="col">Solution</th>
        <th scope="col">Nanosecond execution time</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>

    <tbody *ngIf="solutions">
      <tr *ngFor="let solution of solutions; let i = index">
        <th scope="row">{{ i+1 }}</th>
        <td colspan="row">{{ solution.digits }}</td>
        <td>{{ solution.nanoSecondExecutionTime }}</td>
        <td class="text-end">
          <button type="button" class="btn btn-secondary me-2" (click)="selectSolution(solution, i+1)">Modify</button>
          <button type="button" class="btn btn-danger" (click)="deleteSolution(solution)">Delete</button>
        </td>
      </tr>
    </tbody>

    <tbody *ngIf="!solutions" class="text-center">
      <tr>
        <td colspan="4">No solution in database</td>
      </tr>
    </tbody>

  </table>

  <div *ngIf="selectedSolution">

    <h2 class="my-4">Modify Solution {{ selectedSolutionIndex }}</h2>

    <div class="mb-3 row">
      <label for="solution-digits" class="col-3 col-form-label">Digits :</label>
      <div class="col-9">
        <input id="solution-digits" class="form-control" [(ngModel)]="selectedSolution.digits">
      </div>
    </div>

    <div class="mb-3 row">
      <label class="col-3 col-form-label" for="solution-time-execution">Execution time :</label>
      <div class="col-9">
        <input type="number" class="form-control" id="solution-time-execution" [(ngModel)]="selectedSolution.nanoSecondExecutionTime">
      </div>
    </div>

    <div>
      <button type="button" class="btn btn-primary me-2" (click)="putSolution(selectedSolution)">Submit</button>
    </div>

  </div>

</div>
